{% extends 'recipes/base.html' %}
{% block title %}Categories{% endblock title %}
{% block content %}
<div class="container" style="margin-top: 6%; margin-bottom: 5%;">
  <div class="newspaper">
    <h3><a class="ex2" href="default.asp">Breakfast</a></h3>
    <h3><a class="ex2" href="default.asp">Lunch</a></h3>
    <h3><a class="ex2" href="default.asp">Supper</a></h3>
    <h3><a class="ex2" href="default.asp">Snacks</a></h3>
    <h3><a class="ex2" href="default.asp">Soup</a></h3>
    <h3><a class="ex2" href="default.asp">Desseart</a></h3>
    <h3><a class="ex2" href="default.asp">Meat</a></h3>
    <h3><a class="ex2" href="default.asp">Vegetables</a></h3>
    <h3><a class="ex2" href="default.asp">Seafood</a></h3>
    <h3><a class="ex2" href="default.asp">Barbecue & Grilling</a></h3>
    <h3><a class="ex2" href="default.asp">Pickles</a></h3>
    <h3><a class="ex2" href="default.asp">Sauce</a></h3>
    <h3><a class="ex2" href="default.asp">Foreign food</a></h3>
    <h3><a class="ex2" href="default.asp">Beverages</a></h3>
    <h3><a class="ex2" href="default.asp">Baby Food</a></h3>
    <h3><a class="ex2" href="default.asp">Salad</a></h3>
    <h3><a class="ex2" href="default.asp">Miscellaneous</a></h3>
    <h3><a class="ex2" href="default.asp">Breads, Rolls</a></h3>
    <h3><a class="ex2" href="default.asp">Main Dishes</a></h3>
    <h3><a class="ex2" href="default.asp">Appetizers</a></h3>
    <h3><a class="ex2" href="default.asp">Seasonal</a></h3>
    <h3><a class="ex2" href="default.asp">Quick and Easy</a></h3>
    <h3><a class="ex2" href="default.asp">Low Calorie</a></h3>
    <h3><a class="ex2" href="default.asp">Holidays & Events</a></h3>
  </div>
</div>
<div class="container" style="padding-top: 10px; margin-bottom: 250px;">
  <div class="image"></div>
</div>
<style>
  .newspaper
  {
    -moz-column-count:4; /* Firefox */
    -webkit-column-count:4; /* Safari and Chrome */
    column-count:4;
    -moz-column-gap:50px; /* Firefox */
    -webkit-column-gap:50px; /* Safari and Chrome */
    column-gap:50px;

  }
  a.ex2:hover, a.ex2:active {color: orange;}
  @-webkit-keyframes rotate{
    from{-webkit-transform:rotate(0deg)}
    to{-webkit-transform:rotate(360deg)}
    }
  @-moz-keyframes rotate{
    from{-moz-transform:rotate(0deg)}
    to{-moz-transform:rotate(360deg)}
    }
  @-ms-keyframes rotate{
    from{-ms-transform:rotate(0deg)}
    to{-ms-transform:rotate(360deg)}
    }
  @-o-keyframes rotate{
    from{-o-transform:rotate(0deg)}
    to{-o-transform:rotate(360deg)}
    }
  .image{
    background-image: url('/media/images/f.png');
    background-repeat: no-repeat;
    animation: 9.5s linear 0s normal none infinite rotate;
    -webkit-animation:9.5s linear 0s normal none infinite rotate;
    height: 282px;
    width: 282px;
    border-radius: 150px;
    position: absolute;
    z-index: 0;
  }
</style>
{% endblock content %}
