{% extends 'recipes/base.html' %}
{% load imagekit %}
{% load static %}
{% block title %}Categories{% endblock %}
{% block content %}
<div class="container" style="margin-top: 10%; margin-bottom: 10%;">
  <div class="newspaper">
    {% for category in category_list %}
      {% if not category.parent %}
        <h3><a class="ex2" href="{% url 'posts:category' category.slug %}">{{ category.name }}</a></h3>
      {% endif %}
    {% endfor %}
  </div>
  <div class="responsive">
    <div class="gallery">
        <img src="/media/images/dan.jpeg" alt="Cinque Terre">
    </div>
  </div>
  <div class="responsive">
    <div class="gallery">
        <img src="/media/images/dan.jpeg" alt="Forest">
    </div>
  </div>
  <div class="responsive">
    <div class="gallery">
        <img src="/media/images/dan.jpeg" alt="Northern Lights">
    </div>
  </div>
  <div class="responsive">
    <div class="gallery">
        <img src="/media/images/dan.jpeg" alt="Northern Lights">
    </div>
  </div>
</div>
<footer class="container-fluid w3-black w3-center w3-large" style="position: fixed; bottom: 0; padding-top: 15px; padding-bottom: 20px;">
  <p>Follow me on social media.</p>
  <i class="fa fa-facebook-official w3-hover-opacity"></i>
  <i class="fa fa-instagram w3-hover-opacity"></i>
  <i class="fa fa-snapchat w3-hover-opacity"></i>
  <i class="fa fa-pinterest-p w3-hover-opacity"></i>
  <i class="fa fa-twitter w3-hover-opacity"></i>
  <i class="fa fa-linkedin w3-hover-opacity"></i>
  <p>Powered by dizhu</p>
</footer>
<style>
  .newspaper
  {
    -moz-column-count:4; /* Firefox */
    -webkit-column-count:4; /* Safari and Chrome */
    column-count:4;
    -moz-column-gap:50px; /* Firefox */
    -webkit-column-gap:50px; /* Safari and Chrome */
    column-gap:50px;
  }
  a.ex2:hover, a.ex2:active {color: orange;}
  footer{
    position: fixed;
    bottom: 0;
  }
  div.gallery img {
    width: 70%;
    height: auto;
    -ms-transform: rotate(40deg); /* IE 9 */
    transform: rotate(40deg); /* Standard syntax */
  }
  .responsive {
  padding: 25px 50px;
  float: left;
  width: 24.99999%;
}

@media only screen and (max-width: 700px) {
  .responsive {
    width: 49.99999%;
    margin: 6px 0;
  }
}
@media only screen and (max-width: 500px) {
  .responsive {
    width: 100%;
  }
}
.clearfix:after {
  content: "";
  display: table;
  clear: both;
}

</style>
{% endblock content %}
