{% extends 'recipes/base.html' %}
{% load imagekit %}
{% load static %}
{% block title %}Categories{% endblock %}
{% block slogan %}Hola a todos{% endblock %}
{% block content %}
<div class="container" style="margin-top: 10%; margin-bottom: 10%;">
  <div class="newspaper">
    {% for category in category_list %}
      {% if not category.parent %}
        <h3><a class="ex2" href="{% url 'posts:category' category.slug %}">{{ category.name }}</a></h3>
      {% endif %}
    {% endfor %}
  {% endif %}
{% endwith %}
</div>
<style>
  .newspaper
  {
    -moz-column-count:4; /* Firefox */
    -webkit-column-count:4; /* Safari and Chrome */
    column-count:4;
    -moz-column-gap:50px; /* Firefox */
    -webkit-column-gap:50px; /* Safari and Chrome */
    column-gap:50px;
  }
  a.ex2:hover, a.ex2:active {color: orange;}
</style>
{% endblock content %}
