{% extends 'recipes/layout.html' %}
{% load static %}
{% load bootstrap4 %}
{% block content %}
{% if request.user.is_authenticated %}
  <h4 style="color:crimson">Welcome, {{ request.user.username }}</h4>
  <div>
    <p>Click here to create a new recipe:</p>
    <p><a href="{% url 'posts:create' %}">
    <img src="/media/images/add--v2.png" alt="Click icon" style="width:50%;height:50%;"></a>
    </p>
  </div>
{% endif %}
{% endblock%}
{% block pics %}
<div id="slidershow" class="carousel slide" data-ride="carousel" data-interval = 3000 data-pause = "hover" data-wrap="true"
  style="margin-top: 0rem; margin-bottom: 0rem; width: 100%; height: 100%; margin-left:auto; margin-right:auto;" style="display: block">
    <ol class="carousel-indicators">
      <li class="active" data-target="#slidershow" data-slide-to="0" ></li>
      <li data-target="#slidershow" data-slide-to="1"></li>
      <li data-target="#slidershow" data-slide-to="2"></li>
      <li data-target="#slidershow" data-slide-to="3"></li>
    </ol>
    <div class="carousel-inner">
        <div class="item active">
          <img src="/media/images/recipes/100.jpg">
        </div>
        <div class="item">
          <img src="/media/images/recipes/2.jpg" alt="Chicago">
        </div>
        <div class="item">
          <img src="/media/images/recipes/3.jpg" alt="New Jersey">
        </div>
        <div class="item">
          <img src="/media/images/recipes/4.jpg" alt="New York">
        </div>
    </div>
    <a class="left carousel-control" href="#slidershow" role="button" data-slide="prev" >
    <span class="glyphicon glyphicon-chevron-left"></span>
    </a>
    <a class="right carousel-control" href="#slidershow" role="button" data-slide="next">
      <span class="glyphicon glyphicon-chevron-right"></span>
    </a>
</div>
{% endblock %}
{% block footer %}
<footer class="w3-row-padding w3-padding-32">
  <div class="w3-third">
    <h3>BooBoo Recipe</h3>
    <p>Me gusta mucho la limonada.</p>
    <p>Las uvas son deliciosas.</p>
    <p>Powered by dizhu</p>
  </div>
  <div class="w3-third">
    <h3>BLOG POSTS</h3>
    <ul class="w3-ul w3-hoverable">
      <li class="w3-padding-16">
        <span class="w3-large">Lorem</span><br>
        <span>Sed mattis nunc</span>
      </li>
      <li class="w3-padding-16">
        <span class="w3-large">Ipsum</span><br>
        <span>Praes tinci sed</span>
      </li>
    </ul>
  </div>
  <div class="w3-third w3-serif">
    <h3>POPULAR TAGS</h3>
    <p>
      <span class="w3-tag w3-black w3-margin-bottom">Travel</span> <span class="w3-tag w3-dark-grey w3-small w3-margin-bottom">New York</span> <span class="w3-tag w3-dark-grey w3-small w3-margin-bottom">Dinner</span>
      <span class="w3-tag w3-dark-grey w3-small w3-margin-bottom">Salmon</span> <span class="w3-tag w3-dark-grey w3-small w3-margin-bottom">France</span> <span class="w3-tag w3-dark-grey w3-small w3-margin-bottom">Drinks</span>
      <span class="w3-tag w3-dark-grey w3-small w3-margin-bottom">Ideas</span> <span class="w3-tag w3-dark-grey w3-small w3-margin-bottom">Flavors</span> <span class="w3-tag w3-dark-grey w3-small w3-margin-bottom">Cuisine</span>
      <span class="w3-tag w3-dark-grey w3-small w3-margin-bottom">Chicken</span> <span class="w3-tag w3-dark-grey w3-small w3-margin-bottom">Dressing</span> <span class="w3-tag w3-dark-grey w3-small w3-margin-bottom">Fried</span>
      <span class="w3-tag w3-dark-grey w3-small w3-margin-bottom">Fish</span> <span class="w3-tag w3-dark-grey w3-small w3-margin-bottom">Duck</span>
      <span class="w3-tag w3-black w3-margin-bottom">Travel</span> <span class="w3-tag w3-dark-grey w3-small w3-margin-bottom">Winnipeg</span> <span class="w3-tag w3-dark-grey w3-small w3-margin-bottom">Dinner</span>
      <span class="w3-tag w3-dark-grey w3-small w3-margin-bottom">Salmon</span> <span class="w3-tag w3-dark-grey w3-small w3-margin-bottom">Pasta</span> <span class="w3-tag w3-dark-grey w3-small w3-margin-bottom">Drinks</span>
      <span class="w3-tag w3-dark-grey w3-small w3-margin-bottom">Ideas</span> <span class="w3-tag w3-dark-grey w3-small w3-margin-bottom">Dango</span> <span class="w3-tag w3-dark-grey w3-small w3-margin-bottom">Cuisine</span>
      <span class="w3-tag w3-dark-grey w3-small w3-margin-bottom">Chicken</span> <span class="w3-tag w3-dark-grey w3-small w3-margin-bottom">Salad</span> <span class="w3-tag w3-dark-grey w3-small w3-margin-bottom">Fried</span>
      <span class="w3-tag w3-dark-grey w3-small w3-margin-bottom">Fish</span> <span class="w3-tag w3-dark-grey w3-small w3-margin-bottom">Topher</span>
    </p>
  </div>
</footer>
{% endblock %}
