{% extends 'recipes/base.html' %}
{% load imagekit %}
{% load static %}
{% block title %}Popular Dishes{% endblock %}
{% block content %}
{% if messages %}
  <div class="container">
    {% for message in messages %}
    <div class="alert {% if message.tags %}alert-{{ message.tags }}{% else %}alert-secondary{% endif %} alert-dismissible rounded-0 fade show" role="alert">
        {{ message }}
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    {% endfor %}
  </div>
{% endif %}
  {% if post_list %}
  <div class="w3-main w3-content w3-padding" style="max-width:1200px;margin-top:100px">
    <div class="w3-row-padding w3-padding-16 w3-center" id="food">
      {% for post in post_list|slice:":4" %}
        <div class="w3-quarter">
          {% if post.post_steps.last.pic %}
            <img src="{{ post.post_steps.last.pic.url }}" alt="{{ post.title }}" style="width:100%;height:30%">
          {% elif post.post_steps.first.pic%}
            <img src="{{ post.post_steps.first.pic.url }}" alt="{{ post.title }}" style="width:100%;height:30%">
          {% else %}
            <img src="/media/images/noimage.jpg" alt="{{ post.title }}" style="width:100%;height:30%">
          {% endif %}
          <h3><a href="{{ post.get_absolute_url }}">{{ post.title }}</a></h3>
          <p><strong>Author:</strong><a href="{% url 'users:profile' username=post.author.username %}">{{ post.author }}</a></p>
          <p>Likes: {{ post.likes.count }}</p>
          <p>Comments: {{ post.post_comments.count }}</p>
        </div>
      {% endfor %}
    </div>
    <div class="w3-row-padding w3-padding-16 w3-center">
      {% for post in post_list|slice:"4:8" %}
        <div class="w3-quarter">
          {% if post.post_steps.last.pic %}
            <img src="{{ post.post_steps.last.pic.url }}" alt="{{ post.title }}" style="width:100%;height:30%">
          {% elif post.post_steps.first.pic%}
            <img src="{{ post.post_steps.first.pic.url }}" alt="{{ post.title }}" style="width:100%;height:30%">
          {% else %}
            <img src="/media/images/noimage.jpg" alt="{{ post.title }}" style="width:100%;;height:30%">
          {% endif %}
          <h3><a href="{{ post.get_absolute_url }}">{{ post.title }}</a></h3>
          <p><strong>Author:</strong><a href="{% url 'users:profile' username=post.author.username %}">{{ post.author }}</a></p>
          <p>Likes: {{ post.likes.count }}</p>
          <p>Comments: {{ post.post_comments.count }}</p>
        </div>
      {% endfor %}
    </div>
  </div>
  {% else %}
    <p>No topics have been added yet.</p>
  {% endif %}
  {% if is_paginated %}
    <div class="w3-center w3-padding-32">
      <div class="w3-bar">
        {% if page_obj.has_previous %}
          <a href="?page={{ page_obj.previous_page_number }}" class="w3-bar-item w3-button w3-hover-black">&laquo;</a>
        {% else %}
          <a class="w3-bar-item w3-button w3-hover-black">&laquo;</a>
        {% endif %}
        {% for i in paginator.page_range %}
          {% if page_obj.number == i %}
            <a href="#" class="w3-bar-item w3-black w3-button">{{ i }}</a>
          {% else %}
            <a href="?page={{ i }}" class="w3-bar-item w3-button w3-hover-purple">{{ i }}</a>
          {% endif %}
        {% endfor %}
        {% if page_obj.has_next %}
          <a href="?page={{ page_obj.next_page_number }}" class="w3-bar-item w3-button w3-hover-black">&raquo;</a>
        {% else %}
          <a href="#" class="w3-bar-item w3-button">&raquo;</a>
        {% endif %}
      </div>
    </div>
  </div>
  {% endif %}
{% endblock content %}
{% block footer %}
  <footer class="container-fluid w3-black w3-center w3-large" style="position: relative; bottom: 0; padding-top: 15px; padding-bottom: 20px;">
    <p>Follow me on social media.</p>
    <i class="fa fa-facebook-official w3-hover-opacity"></i>
    <i class="fa fa-instagram w3-hover-opacity"></i>
    <i class="fa fa-snapchat w3-hover-opacity"></i>
    <i class="fa fa-pinterest-p w3-hover-opacity"></i>
    <i class="fa fa-twitter w3-hover-opacity"></i>
    <i class="fa fa-linkedin w3-hover-opacity"></i>
    <p>Powered by dizhu</p>
  </footer>
{% endblock footer %}
