{% load static %}
<div>
  <p> {{ post.updated_on }}</p>
  <h2>{{ post.title }}</h2>
  <div>
    {% for i in ingredients %}
    <p>{{ i.name }}</p>
    <span>{{ i.amount}}</span>
    <span>{{ i.unit }}</span>
    {% endfor %}
  </div>
</div>
<div>
  {% for comment in comments.all %}
    <div>{{ comment.created_time }}</div>
    {% if comment.author.photo %}
      <img src="{{ comment.author.photo.url }}" class="image-preview" width="25" height="25">
    {% else %}
      <img src="{% static "images/default.png" %}" width="25" height="25">
    {% endif %}
    <strong>{{ comment.author }}</strong>
    <p>{{ comment.text|linebreaks }}</p>
    {% if user == comment.author or user == post.author %}
      <a href="{% url 'recipes:delete_comment' slug=post.slug pk=comment.id %}">Delete comment</a>
    {% endif %}
  {% empty %}
      <p>No comments here yet :-(</p>
  {% endfor %}
  <a href="{% url 'recipes:add_comment' slug=post.slug %}">Add comment</a>
</div>
