{% load static %}
<div>
  <p> {{ post.updated_on }}</p>
  <h2>{{ post.title }}</h2>
  <div>
    {{ ingredients.count }}
    {% for i in ingredients %}
      <b>{{ i.name }}{{ i.amount}}</b>
      {% if i.unit %}
        {{ i.unit }}
      {% endif %}
    {% endfor %}
  </div>
  <div>
    <ul>
      {{ steps.count }}
      {% for step in steps %}
        <li>{{ step.text }}</li>
        {% if step.pic %}
          <li><img src="{{ step.pic.url }}" class="img-responsive" style="width: 20%; float: left; margin-right: 10px;" /></li>
        {% else %}
          <li><img src="/media/images/noimage.jpg" class="img-responsive" style="width: 20%; float: left; margin-right: 10px;" /></li>
        {% endif %}
      {% endfor %}
    </ul>
  </div>
  {% if post.author.is_authenticated %}
  <a href="{% url 'recipes:delete_post' slug=post.slug %}">Delete Post</a>
  {% endif %}
</div>
<div>
  {% for comment in comments.all %}
    <div>{{ comment.created_on }}</div>
    {% if comment.author.photo %}
      <img src="{{ comment.author.photo.url }}" class="image-preview" width="25" height="25">
    {% else %}
      <img src="{% static "images/default.png" %}" width="25" height="25">
    {% endif %}
    <strong>{{ comment.author }}</strong>
    <p>{{ comment.text|linebreaks }}</p>
    {% if user == comment.author or user == post.author %}
      <a href="{% url 'recipes:delete_comment' slug=post.slug pk=comment.id %}">Delete comment</a>
    {% endif %}
  {% empty %}
      <p>No comments here yet :-(</p>
  {% endfor %}
  <a href="{% url 'recipes:add_comment' slug=post.slug %}">Add comment</a>
</div>
