{% load static %}
<!doctype html>
<html>
<nav class="navbar navbar-light bg-light">
  <form class="form-inline" action="{% url 'users:search' %}" method="get">
    <input
      class="form-control mr-sm-2"
      type="search" placeholder="Search"
      aria-label="Name"
      name = 'q'
      value = "">
    <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
  </form>
</nav>
{% if results %}
<div class="txtCentrado margenSup20 grisDC">
  <h3>We found {{ count }} result{{ count|pluralize }} for your search </h3>
  </div>
<div class="search results">
{% for mytuple in results %}
  <div class="images">
    <img src={{ mytuple.4 }} width="50" height="50">
    <p id="demo">{{ mytuple.0 }}</p>
    <p>{{ mytuple.1 }}</p>
    <p>Email:{{ mytuple.2 }}</p>
    <p>Address:{{ mytuple.3 }}</p>
  </div>
  <p></p>
{% endfor %}
</div>
{%elif not search_term %}
<h3>Insert your search here.</h3>
{%elif not results %}
<p>No results found.</p>
{% endif %}
</html>
