<!DOCTYPE html>
<html lang="en">
<head>
  <title>My Posts</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
</head>
<body>
<div class="container" style="margin-bottom: 10%;">
  <h2>My Saves</h2>
  {% if my_saves %}
    {% for i in my_saves %}
      <li class="list-group-item"><a href="{{ i.get_absolute_url }}">{{ i.title }}</a></li>
    {% endfor %}
  {% else %}
  <p>No saves.</p>
  {% endif %}
