<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>个人资料</title>
</head>
<body>

{% if messages %}
<div class="container">
    {% for message in messages %}
    <div class="alert {% if message.tags %}alert-{{ message.tags }}{% else %}alert-secondary{% endif %} alert-dismissible rounded-0 fade show" role="alert">
        {{ message }}
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    {% endfor %}
</div>
{% endif %}
{% if p.photo %}
    <img src="{{ p.photo.url }}" class="image-preview" width="250" height="250">
{% else %}
    <img src="{% static "images/default.jpg" %}" width="250" height="250">
{% endif %}
<a href="{% url 'users:my_saves' username=p.username %}">My Favorites</a>
<a href="{% url 'users:my_posts' username=p.username %}">My posts</a>
{% if user.is_authenticated %}
  {% ifequal user p %}
    <p>Welcome, {{ p.username }}</p>
    <a href="{% url 'users:change_profile' username=p.username %}">Modify my profile</a>
    <a href="{% url 'users:my_drafts' username=p.username %}">My Drafts</a>
  {% endifequal %}
{% endif %}
<ul>
    <li>Gender: {{ p.gender }}</li>
    <li>Job: {{ p.job }}</li>
    <li>Email: {{ p.email }}</li>
    <li>Address: {{ p.address }}</li>
    <li>Time Joined: {{ p.date_joined }}</li>
</ul>

</body>
</html>
