<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>个人资料</title>
</head>
<body>

{% if messages %}
<div class="container">
    {% for message in messages %}
    <div class="alert {% if message.tags %}alert-{{ message.tags }}{% else %}alert-secondary{% endif %} alert-dismissible rounded-0 fade show" role="alert">
        {{ message }}
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    {% endfor %}
</div>
{% endif %}
{% if user.photo %}
    <img src="{{ user.photo.url }}" class="image-preview" width="250" height="250">
{% else %}
    <img src="{% static "images/default.jpg" %}" width="250" height="250">
{% endif %}
<a href="{% url 'users:my_saves' %}">My Favorites</a>
<a href="{% url 'users:my_posts' %}">My posts</a>
{% if user.is_authenticated %}
  <p>Welcome, {{ user.username }}</p>
  <a href="{% url 'users:change_profile' %}">Modify my profile</a>
  <a href="{% url 'users:my_drafts' %}">My Drafts</a>
  <a href="{% url 'account_logout' %}">Log out</a>
{% endif %}
<ul>
    <li>Gender: {{ user.gender }}</li>
    <li>Job: {{ user.job }}</li>
    <li>Email: {{ user.email }}</li>
    <li>Address: {{ user.address }}</li>
    <li>Time Joined: {{ user.date_joined }}</li>
</ul>

</body>
</html>
